@media (min-width: 650px) {
    
    .drinkContainer {
        display: flex;
        justify-content: space-between;
        .drinkImg {
            width: 49%;
            margin: auto 0;
            img {
                margin: 0 auto;
            }
        }
        .drinkText {
            width: 49%;
            text-align: left;
        }
    }
    
    form select,
    form button {
        width: 50%;
    }
}